@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at top, #139A43, transparent),radial-gradient(ellipse at bottom, #05421b, transparent);
}

header{
  background: radial-gradient(ellipse at top, #139A43, transparent),radial-gradient(ellipse at bottom, #05421b, transparent);
}


#root{
   background: radial-gradient(ellipse at top, #139A43, transparent),radial-gradient(ellipse at bottom, #05421b, transparent);
}



